@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-img {
  animation: upAndDown 2s ease-in-out infinite;
}
/* Add this code to your existing CSS */

.button-animation {
  animation: scaleAndFadeButton 1.5s ease-in-out infinite;
}

@keyframes scaleAndFadeButton {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* Adjust this value for the desired scale factor */
    opacity: 1; /* Adjust this value for the desired opacity during scaling */
  }
}


@keyframes upAndDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px); /* Adjust this value for the desired height of animation */
  }
}
